<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
      <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
          <section name="per10SatisWPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="Per10DB"
         connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=per10Database; Integrated Security=True;Encrypt=True;TrustServerCertificate=True"/>
  </connectionStrings>
<userSettings>
    <per10SatisWPF.Properties.Settings>
        <setting name="KullaniciAdi" serializeAs="String">
            <value>peronyıkama</value>
        </setting>
        <setting name="Sifre" serializeAs="String">
            <value>per1023</value>
        </setting>
        <setting name="RaporSifresi" serializeAs="String">
            <value>123456</value>
        </setting>
    </per10SatisWPF.Properties.Settings>
  </userSettings>
</configuration>
